<section id="media" class="p-HomeMedia">
  <div class="p-HomeMedia__wrapper Container wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
    <h1>Media</h1>
    <div class="p-HomeMedia__links">
      <div class="p-HomeMedia__links-group">
        <h2>Online Articles</h2>
        <ul>
          <% data.articles.each do |article| %>
          <li class="b-Text">
            <div class="p-HomeMedia__source">
              <%= article.source %>
            </div>
            <a href="<%= article.url %>" target="_blank"><%= article.title %></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="p-HomeMedia__links-group">
        <h2>Television &amp; Radio Appearances</h2>
        <ul>
          <% data.television.each do |appearance| %>
          <li class="b-Text">
            <div class="p-HomeMedia__source">
              <%= appearance.source %>
            </div>
            <a href="<%= appearance.url %>" target="_blank"><%= appearance.title %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%# Praise %>
  <%= partial "home/praise" %>

</section>
