---
title: "Index"
---

<div class="p-Home">
  <%# Welcome %>
  <%= partial "home/welcome" %>

  <div class="p-HomeMain">
    <%# Author %>
    <%= partial "home/author" %>
    <%# Video %>
    <%= partial "home/video" %>
    <%# Schedule %>
    <%= partial "home/schedule" %>
    <%# Events %>
    <%= partial "home/events" %>
  </div>
  <%# Media %>
  <%= partial "home/media" %>
  <%= partial "home/newsletter" %>
</div>
